*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", "sans-serif";
    font-size: 18px;
    margin: 0;

}

.portfolio{}
.portfolio-title{
    font-size: 38px;
    margin: 40px 0 0 0;
    text-align: center;
}
.portfolio-descripcion{
    font-size: 24px;
    margin: 7px 0 0 0;
    text-align: center;
}
.portfolio-content{
    margin-top: 20px;
    padding: 40px;
    display: grid;
    gap: 40px
}
@media (min-width: 960px){
    .portfolio-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.portfolio-card{
    border: solid 2px black;
    border-radius: 4px;
}
.portfolio-img{
    object-fit: cover;
    height: 255px;
    width: 100%;
}
.portfolio-card-content{
    padding: 20px;
    /*margin: 0;*/
}
.portfolio-card-title{
    font-size: 30px;
}
.portfolio-card-text{
    margin: 0;
}
.portfolio-card-link{
    color: #51AFF3;
    text-align: right;
    display: block;
    margin-top: 20px;

}